@page "/"
@using System.Security.Claims
@attribute [AllowAnonymous]

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<LoginDisplay/>

<h2>Policy</h2>
<AuthorizeView Policy="@Policies.IsAdmin">
    <Authorized>
        <p>You can only see this if you satisfy the IsAdmin policy.</p>
    </Authorized>
    <NotAuthorized>
        <p>You can only see this if you satisfy the IsUser policy.</p>
    </NotAuthorized>
</AuthorizeView>

<h2>Claims for the user</h2>
@foreach (var claim in AuthenticatedUser?.Claims ?? Array.Empty<Claim>())
{
    <p>@(claim.Type): @(claim.Value)</p>
}

@code {

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; } = default!;

    private ClaimsPrincipal? AuthenticatedUser { get; set; }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationState;
        AuthenticatedUser = state.User;
    }

}